server {
	listen 80 default;

	server_name _;

	return 301 https://$host$request_uri;
}

server {
	listen 443 ssl http2;

	root /var/hello/;
	index index.cgi index.htm index.html index.php index.pl;

	ssl_certificate /etc/ssl/certs/nginx.crt;
	ssl_certificate_key /etc/ssl/private/nginx.key;
	ssl_protocols TLSv1.3;

	keepalive_timeout 60;

	add_header X-Frame-Options SAMEORIGIN;
	add_header X-Content-Type-Options nosniff;

	location / {
		autoindex on;
	}

	location ~ \.(cgi|pl)$ {
		include fastcgi_params;
		fastcgi_index index.cgi;
		fastcgi_param SCRIPT_NAME $uri;
		fastcgi_pass unix:/var/run/fcgiwrap.sock;
	}

	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		include fastcgi.conf;
		fastcgi_index index.php;
		fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
	}
}

